*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*     ----------     FONTS     ----------     */

$pri-font: 'Open Sans';
$sec-font: 'Lobster 1.4';

/*     ----------     COLORS     ----------     */

$blue: #7499b3;
$lightblue: #bbc8d4;
$grey: #617685;
$darkgrey: #333333;
$black: #252525;


.App {
  width: 100%;
}

/*     ----------     HEADER     ----------     */

.header {
  width: 100%;
  height: 120px;
  background-color:$blue;
  
  nav {
    width: 100%;
    height: 100%;

    ul {
      width: 40%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      line-height: 130px;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          font-family: $pri-font;
          text-transform: uppercase;
          color: white;
          font-size: 12px;
        }

        .header-logo {
          font-family: $sec-font;
          text-transform: lowercase;
          font-size: 50px;
        }
      }
    }
  }
}

/*     ----------     HOME     ----------     */

.home {
  display: flex;
  flex-direction: column;
}

/*    SLIDER    */

.slider {
  width: 100%;
  height: 550px;

  img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 600px;

  }
}

/*    ABOUT    */

.about {
  width: 100%;
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 500px 1fr 1fr 1fr 500px;
  grid-gap: 10px;
  padding-bottom: 40px;

  div {
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: $pri-font;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .5px;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    p {
      font-family: $pri-font;
      font-size: 12px;
      font-weight: lighter;
      color: grey;
      line-height: 25px;
    }

  }
  
  img {
    border-radius: 1000px;
    width: 170px;
  }

  .headline-about {
    grid-column: 2/5;
    grid-row: 1/2;
    padding-top: 100px;

    h1 {
      font-family: $sec-font;
      font-size: 30px;
    }

    p {
        font-family: $pri-font;
        font-size: 15px;
        font-weight: lighter;
        color: grey;
        padding-top: 30px;
        line-height: 30px;
    }
  }

  .about-creativity {
    grid-column: 2/3;
    grid-row: 2/-1;
    width: 90%;
  }

  .about-love {
    grid-column: 3/4;
    grid-row: 2/-1;
    width: 90%;
  }

  .about-details {
    grid-column: 4/5;
    grid-row: 2/-1;
    width: 90%;
  }
}

/*    ABOUT    */

.newsletter {
  height: 400px;
  width: 100%;
  background-image: url('imgs/newsletterbg.jpg');
  background-position: center;
}

/*    NEW PRODUCTS    */

.newsletter {
  height: 400px;
  display: grid;
  grid-template-columns: 500px 1fr 500px;
  grid-template-rows: 1fr 1fr;

  .headline-newsletter {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 100px;

    h1 {
      color:white;
      font-size: 30px;
      font-family: $sec-font;
      font-weight: lighter;
      letter-spacing: .5px;
    }
    p {
      font-family: $pri-font;
      font-size: 12px;
      color: white;
      font-weight: lighter;
    }
  }

  form {
    grid-column: 2/3;
    grid-row: 2/-1;
    width: 100%;
    
    i {
      color: white;
      background-color: $lightblue;
      padding: 10px;
    }

    .email {
      padding: 10px;
      border: none;
      width: 700px;
      font-family: $pri-font;
      font-size: 12px;
      letter-spacing: .5px;
      color: $lightblue;
    }

    .subscribe {
      background-color: $grey;
      color: white;
      padding: 10px 30px;
      border: none;
      text-transform: uppercase;
      font-family: $pri-font;
      font-size: 12px;
      letter-spacing: .5px;
    }
  }
}


/*    NEW PRODUCTS    */

.news {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: 500px 1fr 500px;
  grid-template-rows: 300px 700px;

  .headline-news {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;

    h1 {
      font-family: $sec-font;
      letter-spacing: .5px;
      font-size: 35px;
      font-weight: lighter;
      padding-top: 100px;
    }

    p {
      font-family: $pri-font;
      font-size: 15px;
      font-weight: lighter;
      color: grey;
      padding-top: 30px;
      line-height: 30px;
    }
  }

  .news-grid {
    grid-column: 2/3;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 25px;
    text-align: center;
    font-family: $pri-font;

    div {
      img {
        width: 80%;
      }

      h2 {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      p {
        font-size: 10px;
        line-height: 20px;
        padding: 15px 0;
        color: grey;
      }

      input {
        width: 70%;
        height: 35px;
        background-color: white;
        border: .5px solid grey;
        text-transform: uppercase;
        font-size: 10px;
        font-family: $pri-font;
        letter-spacing: 1px;
      }
    }
    
  }
}

/*     ----------     PRODUCTS     ----------     */

.products {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 150px 1fr 500px;
  grid-template-rows: 300px auto;
  padding-bottom: 50px;

  .headline-products {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;

    h1 {
      font-family: $sec-font;
      letter-spacing: .5px;
      font-size: 35px;
      font-weight: lighter;
      padding-top: 100px;
    }

    p {
      font-family: $pri-font;
      font-size: 15px;
      font-weight: lighter;
      color: grey;
      padding-top: 30px;
      line-height: 30px;
    }
  }

  .products-nav {
    grid-column: 2/3;
    grid-row: 2/-1;
  }
}

/*    PRODUCTS NAV    */

.categories {
  text-align: right;
  width: 100%;
  nav {
    ul{
      li {
        list-style-type: none;
  
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-family: $pri-font;
          color: rgb(194, 194, 194);
          font-size: 13px;
          line-height: 30px;
          letter-spacing: 1px;

          &:hover{
            color: $black;
            font-weight: bold;
          }
        }
      }
    }
  }
  
}

/*    PRODUCTS GRID    */

.products-grid {
  grid-column: 3/4;
  grid-row: 2/-1;
}

.AllProducts-Grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 40px 25px;
  text-align: center;
  font-family: $pri-font;
  padding: 0 40px;

  .AllProducts {
    
    img {
      width: 90%;
      max-height: 70px;
      object-fit: cover;
    }

    h2 {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 1px;
      height: 33px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    p {
      font-size: 10px;
      width: 150px;
      line-height: 20px;
      padding: 15px 0;
      margin-bottom: 25px;
      color: grey;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    input {
      width: 70%;
      height: 35px;
      background-color: white;
      border: .5px solid grey;
      text-transform: uppercase;
      font-size: 10px;
      font-family: $pri-font;
      letter-spacing: 1px;
    }
  
  }

}


/*     ----------     CONTACT     ----------     */

.contact {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 500px 1fr 500px;
  grid-template-rows: 300px auto;

  .headline-contact {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;

    h1 {
      font-family: $sec-font;
      letter-spacing: .5px;
      font-size: 35px;
      font-weight: lighter;
      padding-top: 100px;
    }

    p {
      font-family: $pri-font;
      font-size: 15px;
      font-weight: lighter;
      color: grey;
      padding-top: 30px;
      line-height: 30px;
    }
  }

  form {
    grid-column: 2/3;
    grid-row: 2/-1;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    div {
      width: 100%;

      i {
        padding: 10px;
        background-color: $lightblue;
      }

      input {
        margin-bottom: 20px;
        padding: 10px;
        width: 94%;
      }
    }

    textarea {
      margin-bottom: 20px;
    }

    .btn {
      width: 130px;
      margin: 0 auto;
      background-color: $grey;
      color: white;
      padding: 10px 30px;
      border: none;
      text-transform: uppercase;
      font-family: $pri-font;
      font-size: 12px;
      letter-spacing: .5px;
    }
  }
}

/*     ----------     FOOTER     ----------     */

.footer {
  width: 100%;
  height: 200px;
  background-color: $darkgrey;
  display: flex;
  flex-direction: column;
  text-align: center;

  .footer-txt {
    height: 160px;

    h1 {
      font-size: 35px;
      color: white;
      font-family: $sec-font;
      font-weight: lighter;
      letter-spacing: .5px;
      padding-top: 20px;
    }

    p {
      font-family: $pri-font;
      font-size: 13px;
      font-weight: lighter;
      color: grey;
      width: 500px;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .footer-copyright {
    width: 100%;
    height: 40px;
    background-color: $black;
    color: grey;
    font-size: 13px;
    font-family: $pri-font;
    line-height: 40px;
  }
}

